In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
answers = pd.read_csv("C:/Users/GORDON OUMA GOGAH/Desktop/python programming/data/Answers.csv",encoding='ISO-8859-1')
question = pd.read_csv("C:/Users/GORDON OUMA GOGAH/Desktop/python programming/data/Questions.csv",encoding='ISO-8859-1')
tags = pd.read_csv("C:/Users/GORDON OUMA GOGAH/Desktop/python programming/data/Tags.csv",encoding='ISO-8859-1')

In [5]:
answers

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,92,61.0,2008-08-01T14:45:37Z,90,13,"<p><a href=""http://svnbook.red-bean.com/"">Vers..."
1,124,26.0,2008-08-01T16:09:47Z,80,12,<p>I wound up using this. It is a kind of a ha...
2,199,50.0,2008-08-01T19:36:46Z,180,1,<p>I've read somewhere the human eye can't dis...
3,269,91.0,2008-08-01T23:49:57Z,260,4,"<p>Yes, I thought about that, but I soon figur..."
4,307,49.0,2008-08-02T01:49:46Z,260,28,"<p><a href=""http://www.codeproject.com/Article..."
...,...,...,...,...,...,...
2014511,40143247,333403.0,2016-10-19T23:42:35Z,40143190,0,"<p>Tanks to <a href=""http://stackoverflow.com/..."
2014512,40143322,642706.0,2016-10-19T23:50:35Z,40137110,1,<h1>tl;dr</h1>\n\n<pre><code>ZonedDateTime.par...
2014513,40143336,2239781.0,2016-10-19T23:52:08Z,40141860,0,<p>I came up with a very dirty workaround. Bef...
2014514,40143349,6934347.0,2016-10-19T23:54:02Z,40077010,0,<p>I solved my own problem defining the follow...
2014515,40143389,4464432.0,2016-10-19T23:58:58Z,40142910,0,<p>Try add <code>retrun false</code> in the <c...

In [6]:
question

,Id,OwnerUserId,CreationDate,ClosedDate,Score,Title,Body
0,80,26.0,2008-08-01T13:57:07Z,NaN,26,SQLStatement.execute() - multiple queries in o...,<p>I've written a database generation script i...
1,90,58.0,2008-08-01T14:41:24Z,2012-12-26T03:45:49Z,144,Good branching and merging tutorials for Torto...,<p>Are there any really good tutorials explain...
2,120,83.0,2008-08-01T15:50:08Z,NaN,21,ASP.NET Site Maps,<p>Has anyone got experience creating <strong>...
3,180,2089740.0,2008-08-01T18:42:19Z,NaN,53,Function for creating color wheels,<p>This is something I've pseudo-solved many t...
4,260,91.0,2008-08-01T23:22:08Z,NaN,49,Adding scripting functionality to .NET applica...,<p>I have a little game written in C#. It uses...
...,...,...,...,...,...,...,...
1264211,40143210,5610777.0,2016-10-19T23:38:01Z,NaN,0,URL routing in PHP (MVC),<p>I am building a custom MVC project and I ha...
1264212,40143300,3791161.0,2016-10-19T23:48:09Z,NaN,0,Bigquery.Jobs.Insert - Resumable Upload?,<p>The API docs show that you should be able t...
1264213,40143340,7028647.0,2016-10-19T23:52:50Z,NaN,1,Obfuscating code in android studio,<p>Under minifyEnabled I changed from false to...
1264214,40143360,871677.0,2016-10-19T23:55:24Z,NaN,0,How to fire function after v-model change?,<p>I have input which I use to filter my array...
1264215,40143380,6823982.0,2016-10-19T23:57:31Z,NaN,0,npm run mocha test - files being cached,<p>I'm running a mocha test and I noticed my c...

In [7]:
tags

               Id             Tag
0              80            flex
1              80  actionscript-3
2              80             air
3              90             svn
4              90     tortoisesvn
...           ...             ...
3750989  40143360      javascript
3750990  40143360          vue.js
3750991  40143380             npm
3750992  40143380           mocha
3750993  40143380           babel

[3750994 rows x 2 columns]

In [11]:
df = (pd.read_csv("C:/Users/GORDON OUMA GOGAH/Desktop/python programming/data/Questions.csv",nrows=1_000_000,encoding='ISO-8859-1',usecols=['Title','Id']))
titles = [_ for _ in df['Title']]

In [13]:
import random
random.choices(titles,k=20)

['How to offset latest 3 posts in Genesis - Eleven40 pro Theme',
 'How to stop text at screen borders?',
 'Android Intent launch from browser',
 'Set default content for target div',
 'HttpContext.Current.User.Identity.Name returns null when website folder moved',
 'SQL query for sorting leaderboard',
 'Ignore invalid self-signed ssl certificate in node.js with https.request?',
 'Flex - Disabling the transparent background overlay on a popup',
 'Correct pattern for a VIM autocommand?',
 'Build PHP without a C++ compiler',
 'CKEDITOR: how to I convert ALL html entities',
 'Converting Winform ContextMenu to Wpf ContextMenu',
 'Android buttons not displaying on top of SurfaceView',
 'SQL - How to handle two conditions without using AND?',
 'Can jQuery or AJAX listen for a variable passed over from another page?',
 'Portion of iPad simulator screen responsive to swipes, but not button clicks',
 'How to evaluate Enum in an If statement?',
 'Generating unique IRI from a filename',
 'Convert DateTime Object in C# to an epoch in Mozilla',
 "phpize's config.m4 with more than one source file in PHP_NEW_EXTENSION produces a Makefile that does nothing"]